table {
  margin-bottom: 1em;
}

th {
  padding: 2px 4px 6px 8px;
  width: 4.4em;
  font-weight: var(--sl-font-weight-normal);
  font-size: var(--sl-font-size-small);
}

td {
  width: 3em;
  height: calc(1em + 5px);
  text-align: center;
  font-size: var(--sl-font-size-small);
}
