.base {
  color: var(--sl-color-black);
}

.theme-selector {
  width: 12em;
}

.modified-badge {
  margin-top: -0.25em;
}

.sidebar-tabs {
  margin-top: 3px;
  width: 320px;
  height: 380px;
}

.color-actions {
  margin: 10px 10px 0 0;
  text-align: center;
}
