.base {
  display: flex;
  margin: 2px 0;
  align-items: center;
}

.label {
  width: 8em;
  font-size: var(--sl-font-size-small);
  margin: 0 0.5em 0 0;
}

.label-bold {
  font-weight: var(--sl-font-weight-bold);
  font-style: italic;
}

.input {
  width: 8em;
}

.tooltip {
  --show-delay: 1000ms;
}
