th {
  padding: 2px 4px 6px 8px;
  width: 3.5em;
  font-weight: var(--sl-font-weight-normal);
  font-size: var(--sl-font-size-small);
}

td {
  width: 3em;
  height: calc(1em + 7px);
  text-align: center;
  font-size: var(--sl-font-size-small);
}
