.app-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  position: absolute;
  height: 100%;
  width: 100%;
}

.app-layout__header {
  grid-column: 1/-1;
  z-index: 100;
}

.app-layout__sidebar {
  overflow: auto;
}

.app-layout__main {
  overflow: auto;
}
